.page {
  /* padding: 10px; */
  font-family: Arial, sans-serif;
  height: 100vh;
  /* align-items: baseline; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productList {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 30px;
}

.product {
  border: 1px solid gray;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  margin: 5px;
  flex-direction: column;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkout-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #005bb5;
}

/* .cartIcon {
  display: flex;
  justify-content: flex-end;
  top: 10px;
  right: 10px;
  flex-direction: column;
  width: 150px;
} */

.cartIcon a {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.cart {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin: 20px 10px 0 0;
}

.cartDropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 40vw;
  z-index: 1000;
  box-sizing: border-box;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.removeItem {
  cursor: pointer;
  color: red;
}
.remove-cart:hover {
  color: maroon;
}

.price {
  margin: 0 5px;
  position: absolute;
  /* color: red; */
}

.price-checkout {
  margin: 5px 10px;
  /* position: absolute; */
}

.addToCart:hover {
  /* background-color: rgb(245, 243, 184); */
  background-color: rgb(181, 245, 181);
  color: rgb(32, 113, 45);
  transition: 1s;
}

.productPrice {
  margin: 0;
}

.remove:hover {
  background-color: rgb(150, 150, 150);
  color: black;
  transition: 1s;
}

.addToCart,
.remove,
.proceed {
  cursor: pointer;
  margin: 15px 0 0 0;
  /* border-radius: 3px; */
  font-size: 12px;
  width: 100%;
  border-radius: 3px 3px 0 0;
}

.addToCart {
  border: 1px solid black;
}

.remove {
  border: none;
  border: 1px solid rgb(32, 113, 45);
}

.remove-cart {
  border: none;
  background-color: transparent;
  color: red;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 0;
}

.checkoutPage a {
  align-self: flex-start;
}

.cartDiv {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.cartDiv ul {
  padding: 0;
  /* justify-content: flex-end; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cartDiv ul li {
  display: flex;
  align-items: center;
}

.checkoutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 50px; */
  font-size: 14px;
  height: 100vh;
}

.whats-1 {
  width: 120px;
  /* margin: 10px 10px 0; */
  align-self: center;
}

.whats {
  width: 40px;
  margin: 5px;
}

.total {
  border-top: 1px solid black;
  /* margin: 10px 0; */
  text-align: end;
  padding-top: 10px;
}

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
}

.backButton:hover {
  color: blue;
}

.city-image {
  width: 150px;
  height: 180px;
}

.city-image-cart {
  width: 150px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 5px;
}

.termsDiv {
  display: flex;
}

.terms {
  text-align: justify;
}

.terms_checkbox {
  margin-right: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 120px 10px !important;
  border-top: 1px solid #866060;
}

.fa-instagram {
  font-size: x-large;
}

.footer-text {
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  margin: 50px 0 0 0;
  padding: 10px;
  color: white;
}

.footer-div-2 {
  width: 100%;
  justify-content: flex-end;
  align-items: end;
}

.footer-div-1,
.footer-div-2 {
  display: flex;
  flex-direction: row !important;
  max-width: 1000px !important;
  color: white;
}

.footer-div-1 {
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .footer-div-2 {
    flex-direction: column !important;
  }
}

.socials {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 30px; */
  width: 100px;
}

.socials p {
  color: white;
  margin: 5px;
  text-align: center;
  font-size: 14px;
}

.socials i {
  color: white;
}

.socials a {
  text-align: center;
  align-self: center !important;
}

.sitemap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  text-decoration: underline;
  width: 240px;
}

.sitemap p {
  color: white;
}

.sitemap a {
  color: white;
  padding: 5px 0;
  text-decoration: none;
  display: block;
}

@media screen and (max-width: 800px) {
  .sitemap {
    margin: 0 !important;
    font-size: 14px;
  }

  .footer-div-1 {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 500px) {
  .productList {
    flex-direction: column;
    align-items: center;
  }
  .product {
    margin: 5px;
  }
}
