@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
/* @font-face {
  font-family: "Neutraface Text";
  src: url("./fonts/Neutraface-Text-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("./fonts/Neutraface-Text-Light-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("./fonts/Neutraface-Text-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("./fonts/Neutraface-Text-Book-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("./public/fonts/Neutraface-Text-Demi.otf") format("opentype");
  font-weight: 500;
  font-style: normal; */
/* } */

@font-face {
  font-family: "Neutraface Text";
  src: url("../fonts/Neutraface-Text-Demi-Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("../fonts/Neutraface-Text-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* @font-face {
  font-family: "Neutraface Text";
  src: url("./fonts/Neutraface-Text-Bold-Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
} */

/* Global Scrollbar Styling */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  color: #d4ffdb;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background: var(--color3);
  border-radius: 10px;
  border: 2px solid transparent;
  background: #d4ffdb;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color2);
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

.page {
  /* font-family: Arial, sans-serif; */
  font-family: "Neutraface Text", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #c6ffbb;
}

.productList {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 30px;
}

.product {
  border: 1px solid gray;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  margin: 5px;
  flex-direction: column;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkout-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #005bb5;
}

.cartIcon a {
  font-size: 35px;
  text-decoration: none;
  color: black;
}

.cart {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.cart span {
  align-items: center;
  display: flex;
}

.cartDropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 40vw;
  z-index: 1000;
  box-sizing: border-box;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.removeItem {
  cursor: pointer;
  color: red;
}
.remove-cart:hover {
  color: maroon;
}

.price {
  margin: 0 5px;
  position: absolute;
  font-family: "Neutraface Text";
}

.price-checkout {
  margin: 5px 10px;
}

.addToCart,
.remove,
.proceed {
  cursor: pointer;
  font-size: 12px;
  width: 100%;
  border-radius: 4px;
}

.nav-title {
  font-size: 35px;
  color: black;
  /* font-family: "Lexend", sans-serif; */
  font-family: "Neutraface Text";
}

.addToCart {
  /* border-top: 1px solid black; */
  background-color: #ffd4fa;
  margin: 3px;
  box-sizing: border-box;
  width: 95%;
  border: 1px solid saddlebrown;
  align-self: center;
}

.addToCart:hover {
  background-color: rgb(248, 219, 144);
  /* color: rgb(32, 113, 45); */
  transition: 1s;
}

.productPrice {
  margin: 0;
}

.remove:hover {
  background-color: rgb(150, 150, 150);
  color: black;
  transition: 1s;
}

.home-group {
  display: flex;
  flex-direction: column;
}
.group-div {
  display: flex;
}

.remove {
  border: none;
  border: 1px solid rgb(32, 113, 45);
}

.remove-cart {
  border: none;
  background-color: transparent;
  color: red;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 0;
}

.checkoutPage a {
  align-self: flex-start;
}

.cartDiv {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.cartDiv ul {
  padding: 0;
  /* justify-content: flex-end; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cartDiv ul li {
  display: flex;
  align-items: center;
}

.checkoutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 50px; */
  font-size: 14px;
  height: 100vh;
}

.whats-1 {
  width: 120px;
  /* margin: 10px 10px 0; */
  align-self: center;
}

.whats {
  width: 25px;
  margin: 5px;
}

.total-div {
  border-top: 1px solid black;
  margin: 10px 0;
  padding-top: 10px;
  justify-content: space-between;
  display: flex;
}

.total {
  text-align: end;
}

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background-color: transparent !important;
}

.backButton:hover {
  color: blue;
  background-color: transparent !important;
}

.city-image {
  font-size: 50px;
  margin: 15px 0 0 10px;
}

.city-image-cart {
  width: 150px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 5px;
}

.product-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card-text {
  width: 100px;
  font-size: 12px;
  margin: 0;
  font-family: "Lexend", sans-serif;
}

.termsDiv {
  display: flex;
}

.terms {
  text-align: justify;
}

.terms_checkbox {
  margin-right: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  width: 100%;
  background-color: rgb(172, 143, 69);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* border-top: 1px solid green; */
}

.fa-instagram {
  font-size: x-large;
}

.footer-text {
  font-family: "Neutraface Text";
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  margin: 50px 0 0 0;
  padding: 10px;
  color: white;
}

.footer-div-2 {
  width: 100%;
  justify-content: flex-end;
  align-items: end;
}

.footer-div-1,
.footer-div-2 {
  display: flex;
  flex-direction: row !important;
  /* max-width: 1000px !important; */
  color: white;
}

.footer-div-1 {
  width: 100%;
  justify-content: space-between;
}

.socials {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.socials p {
  color: white;
  margin: 5px;
  text-align: center;
  font-size: 14px;
}

.socials i {
  color: white;
}

.socials a {
  text-align: center;
  align-self: center !important;
}

.sitemap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  text-decoration: underline;
  width: 240px;
}

.sitemap p {
  color: white;
  font-family: "Neutraface Text";
}

.sitemap a {
  font-family: "Neutraface Text";
  color: white;
  padding: 5px 0;
  text-decoration: none;
  display: block;
  font-family: "Lexend", sans-serif;
}

@media screen and (max-width: 800px) {
  .footer-div-2 {
    flex-direction: column !important;
  }

  .sitemap {
    margin: 0 !important;
    font-size: 14px;
  }

  .footer-div-1 {
    flex-direction: column !important;
  }
  .productList {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .product {
    margin: 5px;
  }
  .footer {
    padding: 10px 10px 120px 10px !important;
  }
}
